@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --azul: #25bcce;
  --laranja: #f68e31;
  --preto: #231f20;
  --cinza: #808284;
  --cinzaclaro: #ccc;
  --verde: #29803f;
  --font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
a,
span,
p {
  font-family: var(--font);
}

  /* CARDS*/

  .card{
    position: relative;
  }
  
  .card_imagem {
    width: 20vw;
    height: 25vh;
    border-radius: 5px;  

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-image:  linear-gradient( var(--preto), transparent ), url(../images/img3.png); 
    background-size: cover;
}
  
.card_titulo{
  color: #fff;
  font-size: 1.6em; 
  position: absolute;
  top: .5em;
  left: .6em;
}

  .card_container_info{
    background: #fff;
    width: 19vw;
    min-height: 13.3vh;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    
    position: absolute;
    bottom: .2em;
    left: .7em;
  }

  .data{
    width: 18vw;
    height:5vh;
    font-size: 1.8em;
    font-weight: bold;
  }
  
.comunidade_titulo{
  width: 18vw;
  height: 3vh;

  font-size: 1.3em; 
}

.box_parti-bot{
  display: flex;
   width: 18vw;
   height: 5vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0em .6em;
}

  #btn_inscrever {
    background: var(--azul);
    text-decoration: none;
    border-radius: 10px;
    color: white;
    border: none;
    width: 110px;
    height: 40px;
  }
  
.circle{
  border-radius: 50%;

}
.pequeno{
  height: 15px;
  width: 15px;
  background: var(--verde);
}
.grande{
  height: 25px;
  width: 25px;
  background: var(--laranja);
}

.text_italic{
 font-style: italic;
 color: var(--cinza); 
}

/* LISTA D CARDS */

.list_card{
   
  width: 70vw;
  height: 30vh;

  display: flex;
  justify-content: space-around;
  align-items: center;   

  /* background: red ; */
 } 

 /* FIM LISTA D CARDS */

  /*FIM CARDS*/
  



/*HEADER*/

#header {
    width: 100vw;   
    height: 10vh;
    background: var(--azul);

    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  .header_box {
    width: 21vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #231f20;
  }

  .imagem{
    background:rebeccapurple;
    height: 10vh;
    width: 20vw;
  }

  /* .mask{
      border-radius: 10px;
      background: white; 
      padding: 0 .3em;
  } */
  
  /* .header_pesquisa {
    height: 4vh;
    width: 25vw;
    border: none;
    border-radius: 10px;
    padding: 0 .8em;
  } */
  
  /* #icone_buscar {
    color: var(--cinza);
    cursor: pointer;
  }

  #icone_buscar:hover {
    color: var(--preto  );
    cursor: pointer;
  } */

  .header_menu {
    height: 10vh;
    width:76vw;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .header_menu ul {
    height: 8vh;
    width: 50vw;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    list-style-type: none;
  }

  .header_menu a {
    color: white;
    text-decoration: none;
  
    padding: 0.6em;
  }

  .header_menu #li_border {
    font-weight: bold;
    border-bottom:  3px solid white;
    border-top: 3px solid white;
}

.header_menu .ahover:hover {
  font-weight: bold;
  border-bottom:  3px solid white;
}

#buscar{
  border-left: 1px solid white;
  padding-left: 1.3em;
}

.header_menu .ul-login{
  width: 10vw;
}

  /*FIM HEADER*/
  

  /* INDEX */

    /* BANNER */
    
    .section_banner{
      height: 600px;   
      width: 100vw; 
      background: #29803f;
    }

  /* FIM BANNER */


  /* TITULO */
    .section_titulo_index{
    height: 45vh;
    width: 100vw;
      display:flex;
      justify-content: center;
      align-items: center;
  }
 
    .mask_titulo{
      width: 45vw;
      height: 35vh;

      display: flex;
      justify-content: center;
      align-items: center;
  }

  .titulo_index {
      text-transform: uppercase;
      font-size: 3em;
      text-align: center;
      font-weight: bold;
  }
  
  .titulo_index::after {
    content: '|';
    margin-left: 4px;
    opacity: 1;
    animation: pisca .7s infinite;
  }
  
  @keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
  }
 
  /* FIM DO TITULO */


  /* LINHA */
  
    .linha_banner{
      width: 50vw;
      margin: 0 auto;
  }

  /* FIM LINHA  */


/* EVENTOS COMUNIDADES */

.eventos_comunidade{
  height: 60vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background: #25bcce;
}  

.titulo_eventos{
  padding: 1.6em;  
  font-size: 2.1em;

  background: firebrick;
}  

/* FIM EVENTOS COMUNIDADES */  

/* EVENTOS THOUGHTWORKS */

.home_laranja {
  background-color: #f68e31;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box_eventos_tw{
  height: 50vh;
  width: 80vw;
  /* background: #231f20; */

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.home_crie-evento_box{
  height: 40vh;
}

.home_titulo-tw {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2em;

  /* background: #ccc;  */
}


/* FIM EVENTOS THOUGHTWORKS */


/* SECTION SOBRE NÓS */

.section_sobre {
  height: 70vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  background: #ccc;
}

.container-geral_sobre{
  height: 45vh;
  width: 60vw;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;

  background: #29803f;
}

.titulo_sobre{
  font-size: 2.3em; 

  background: yellow;
}

.sobre_texto{
  max-width: 45vw;
}

.texto_p{
 font-size: 1.8em;
  color: var(--preto);
  overflow-wrap: break-word; 

  background: gold; 
}

.call_sobrenos{
background: var(--laranja);
padding: 1.2em;
font-size:1.3em; 
text-decoration: none;
color: #fff;
}
/* FIM SECTION SOBRE NOS */

/* CAIXA CRIE SEU EVENTO */

.call_evento{
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2em;
  background: #231f20;
}

.box_call_evento{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  height: 23vh;
  border: 0.5em solid #25bcce;
}

.box_call_evento h4{
  font-size: 2em;
}


/* FIM DA CAIXA CRIE SEU EVENTO */


/* FIM INDEX */



/* MEUS EVENTOS */

.upper {
  text-transform: uppercase;
  text-align: center;
}
.verde {
  color: var(--verde);
}
.laranja {
  color: var(--laranja);
}

.linha_card{
  width: 45vw;
  height: 26vh;
  margin-bottom: 1.5em; 

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.conteiner_section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  
}

.box_eventos_aprovados {
  height: 90vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.box_cards_aprovados {
  height: 80vh;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  padding-top: 3em;
  border-right: 1px solid var(--cinzaclaro);
}


.box_eventos_analise {
  height: 90vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.box_cards_analise {
  height: 80vh;
  width: 50vw;
  padding-top: 3em;
  border-left: 1px solid var(--cinzaclaro);
 
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*REALIZADOS*/

.section_realizados {
  height: 50vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_realizados {
  height: 40vh;
  width: 95vw;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.box_cards_realizados {
  height: 30vh;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
/*FIM MEUS EVENTOS */


/* LOGIN */

.login_section{
  display: flex;
}

.login_box_imagem{
  height: 100vh;
  width: 40vw;
  background-image: linear-gradient(rgba(177, 27, 84, 0.5), rgba(177, 27, 84, 0.5)), 
  url(../imagens/imagem.jpg);
  background-size: cover;
}

.login_container{
  height: 100vh;
  width: 60vw;

  display: flex;
  justify-content: center;
  align-items: center;
}


.login_box_form{
  height: 85vh;
  width: 25vw;
  border-radius: 3px;
  box-shadow: 1px 2px 2px 1px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
 
}

.titulo_login{
  height: 10vh;
  width: 23vw;
  padding: 1em 0;
  text-align: center;
  font-weight: bold;
}

.login_form{
  height: 40vh;
  width: 23vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_form input{
  height: 7vh;
  width: 17vw;
  padding: 1em;
  margin-bottom: 1.5em; 
  border-radius: 3px;
  background: #e2dfdfc5;
  border: 1px solid var(--cinzaclaro);
  color: var(--cinza);
  font-size:1em; 
}

.login_form span {
  height: 3vh;
  width: 17vw;
  text-align: start;
  margin-bottom:1em; 
 }

.login_form button{
  height: 7vh;
  width: 17vw;
  border: none;
  border-radius: 3px;
  background: var(--azul);
  color: #fff;
}

.login_box_outraconta{
  height: 18vh;
  width: 23vw;

  color: var(--cinza);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.botao_google_login{
  height: 5vh;
  width: 7vw;
  border: 2px solid var(--cinza); 
  border-radius: 3px;
  background: none;
}

.ic_gr{
  color: var(--cinza);
}

.login_link_cadastrar{
  color: var(--cinza);
  height: 8vh;
  padding: 1em 0;
}

.link{
  text-decoration: none;
  color: var(--cinza );
}

.font_medio{
font-size: 1em;
}

.font_pequeno{
font-size: .8em;
}

/* FIM LOGIN */
