@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --azul: #25bcce;
  --laranja: #f68e31;
  --preto: #231f20;
  --cinza: #808284;
  --cinzaclaro: #ccc;
  --verde: #29803f;
  --font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: var(--font);
}


  /* CARDS*/

  .card {
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
    border: 1px solid var(--cinzaclaro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    background: #fff;
  
  }
  
  .data{
    width: 20vw;
    height: 4vh;
    font-size: 1em;
    color: var(--azul);
    font-weight: 700;
    padding: 1em ;
  
    display: flex;
    align-items: center;
  
  }
  
  .identificacao{
    width: 20vw;
    height: 12vh;
    padding: 0.2em 0.5em ;
  
  }
  
  .identificacao .evento_titulo{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.3em;
  }
  
  .identificacao .comuni_evento{
    font-size: 1.2em;
    color: var(--cinza);
  }
  
  .box_parti-bot{
    display: flex;
     width: 20vw;
     height: 5vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: .2em .6em;
  }
  
  .box_parti-bot .partici{
    color:var(--cinza);
  }
  
  #btn_inscrever {
    text-decoration: none;
    border-radius: 10px;
    color: white;
    border: none;
    width: 110px;
    height: 40px;
    background: #25bcce;
  }
  
.circle{
  border-radius: 50%;

}
.pequeno{
  height: 15px;
  width: 15px;
  background: var(--verde);
}
.grande{
  height: 25px;
  width: 25px;
  background: var(--laranja);
}

.text_italic{
 font-style: italic;
 color: var(--cinza); 
}
  /*FIM CARDS*/
  

/*HEADER*/

#header {
    width: 100vw;   
    height: 4vw;
    min-height: 4vw;
    
    background: var(--azul);

    display: flex;
    justify-content: space-around;
    align-items: center;

    /* position: fixed;
    z-index: 1; */
  }


  .header_box {
    height: 6.5vh;
    width: 40vw;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .mask{
      border-radius: 10px;
      background: white; 
      padding: 0 .3em;
  }
  
  .header_pesquisa {
    height: 4vh;
    width: 25vw;
    border: none;
    border-radius: 10px;
    padding: 0 .8em;
  }
  
  #icone_buscar {
    color: var(--cinza);
    cursor: pointer;
  }

  #icone_buscar:hover {
    color: var(--preto  );
    cursor: pointer;
  }

  .header_menu {
    height: 6.5vh;
    width: 55vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header_menu ul {
    height: 5vh;
    width: 50vw;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    list-style-type: none;
  }

  .header_menu li {
    margin: 1.8em;
  }

  .header_menu a {
    font-family: var(--fonte);
    color: white;
    text-decoration: none;
  
    padding: 0.6em;
    
  }
  
  .header_menu #li_border {
    border: 2px solid white;
    border-radius: 10px;
    min-height: 4vh;
    
    display: flex;
    align-items: center;
  }
  /*FIM HEADER*/
  





  
  /* INDEX */

    /* BANNER */
    
    .section_banner{
      height: 600px;   
      width: 100vw; 
      background: #29803f;
    }

  /* FIM BANNER */


  /* TITULO */
    .section_titulo{
    height: 37vh;
    width: 100vw;
      display:flex;
      justify-content: center;
      align-items: center;
  }
 
    .mask_titulo{
      width: 45vw;
      height: 35vh;

      display: flex;
      justify-content: center;
      align-items: center;
  }

  .titulo {
      text-transform: uppercase;
      font-size: 3em;
      text-align: center;
      font-weight: bold;
  }
  
  .titulo::after {
    content: '|';
    margin-left: 4px;
    opacity: 1;
    animation: pisca .7s infinite;
  }
  
  @keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
  }
 
  /* FIM DO TITULO */


  /* LINHA */
  
    .linha_banner{
      width: 50vw;
      margin: 0 auto;
  }

  /* FIM LINHA  */


/* EVENTOS COMUNIDADES */

.eventos_comunidade{
  height: 55vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}  

.titulo_eventos{
  margin: 1.9em 0 1.9em 0;  
  font-size: 2.1em;
}  

 .list_card{
   
   width: 90vw;
   height: 25vh;

   display: flex;
   justify-content: space-around;
   align-items: center;   

  } 

/* FIM EVENTOS COMUNIDADES */  


/* EVENTOS THOUGHTWORKS */

.home_laranja {
  background-color: #f68e31;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
  height: 63vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.home_crie-evento_box{
  height: 40vh;
}


.home_titulo-tw {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2em;
}

  .home_titulo-eventos-tw{
    height: 18vh;
    padding-top: 2em;
}

/* FIM EVENTOS THOUGHTWORKS */



/* SECTION SOBRE NÓS */

.section_sobre{
  height: 63vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.container-geral_sobre{
  height: 43vh;
  width: 52vw;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.titulo_sobre{
  font-size: 2.3em; 
}

.sobre_texto{
  height: 25vh;
  width: 50vw;
}

.texto_p{
 font-size: 1.8em;
  color: var(--preto);
  overflow-wrap: break-word; 
}

.call_sobrenos{
background: var(--laranja);
padding: 1.2em;
font-size:1.3em; 
text-decoration: none;
color: #fff;
}
/* FIM SECTION SOBRE NOS */

/* FIM INDEX */


/* MEUS EVENTOS */

.upper {
  text-transform: uppercase;
  text-align: center;
}
.verde {
  color: var(--verde);
}
.laranja {
  color: var(--laranja);
}

.linha_card{
  width: 45vw;
  height: 20vh;
  margin-bottom: 1em; 
  display: flex;
  justify-content: space-around;
}

.conteiner_section {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
}

.box_eventos_aprovados {
  height: 90vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.box_cards_aprovados {
  height: 80vh;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  padding-top: 3em;
  border-right: 1px solid var(--cinzaclaro);
}

.box_eventos_analise {
  height: 90vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.box_cards_analise {
  height: 80vh;
  width: 50vw;
  padding-top: 3em;
  border-left: 1px solid var(--cinzaclaro);
 
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*REALIZADOS*/

.section_realizados {
  height: 50vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_realizados {
  height: 40vh;
  width: 95vw;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.box_cards_realizados {
  height: 30vh;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
/*FIM MEUS EVENTOS */
